body {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #16233a;
  padding: 0 10%;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.contact-details {
  display: flex;
  align-items: center;
}

.contact-details a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
}

.contact-details a:hover {
  color: papayawhip;
}

.main {
  width: 66%;
  padding: 5% 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #16233a;
  background-color: #9ce5fa;
  height: calc( 100vh - 166.19px );
}

.main h1 {
  margin-bottom: 0;
}

.main p {
  margin-bottom: 5%;
  font-size: 1.1rem;
}

.short-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.short-link input {
  width: 80%;
  height: 40px;
  border: 0;
  border-radius: 3px;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}

.short-link input:focus {
  outline: none;
}

.short-link button {
  width: 17%;
  border: 0;
  border-radius: 3px;
  height: 42px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #16233a;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

.found {
  position: relative;
  margin: 2rem 0;
  width: 40%;
}

.found .short-link-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 0;
  padding: 5px 1rem;
  color: #fff;
  background-color: #16233a;
  border-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
}

.copy-icon {
  position: absolute;
  top: 11px;
  right: -12px;
}

.copy-icon img {
  cursor: pointer;
}

.copied {
  position: absolute;
  right: -2.5rem;
  bottom: -30px;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
